.n1{
    font-size: 10px !important;
    height: 200px !important;

}
.menu1{
    border: none;
    border-bottom: 1px solid lightgray;
}
.navbar-nav{
    --bs-nav-link-hover-color: red !important;
}
.bn{
    font-size: 30px !important;
}
#b1{
    border: none !important;
}
#title{
    max-height: 70px;
    max-width: 1000px;
}
.inputitmes input{
    display: flex;
    width: 90%;
    outline: none;
    border: none;
    border-bottom: 2px solid lightgray;
}
#cot{
    padding-left: 10%;
}
#lablebtm{
    padding-top: 5px;
    font-size: 8px;
}
.carousel-item {
    transition: transform 1s ease-in-out;
  }

  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: opacity 0s 1s;
  }
.secondframe{
    padding-top: 5%;
}
.form{
    padding: 3px 3px 3px 3px;
    background-color: white;
    border-radius: 5px;
}