<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="static/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDP_Title</title>
</head>
<body>

  <div class="f1">
    <style>
      .f1{
        background-image: url('static/bgimg.jpeg');
        background-repeat: no-repeat;
        background-size: 100% 95%;
      }
    </style>
    <div class="n1">
      <div class="menu1">
        <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
            <div class="container-fluid">
              <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Partner With Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Refer and earn</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Join Us</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Cities
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>

                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
              </div>




              <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto ">
                <li class="nav-item ">
                  <a class="nav-link" href="#" style="color: red;"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-headset" viewBox="0 0 16 16">
                    <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z"/>
                  </svg> Coustmer Support </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Visit</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Login/Register</a>
                </li>
              </ul>
            </div>
            </div>
          </nav>
        </div>

      <nav class="navbar navbar-expand-lg bg-body-tertiary " id="navb">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img id="title" src="static/titleforsdp.png"></a>
          <button class="navbar-toggler mx-auto" id="b1" type="button" data-bs-toggle="collapse" data-bs-target="#smenu" aria-controls="smenu" aria-expanded="false" aria-label="Toggle navigation">
            <span ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
              <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
            </svg></span>
          </button>

          <div class="collapse navbar-collapse " id="smenu">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Disabled</a>
              </li>
            </ul>
          </div>
          <button type="button" class="btn btn-danger ms-auto">Get Free Estimate</button>
        </div>
      </nav>

    </div>

    <div class="content align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-lg-4">
      <h1>Dream your home with dream design</h1>
    </div>

    <div class="col-md-4 col-sm-12 col-lg-4">
      <div id="carouselExampleSlidesOnly" class="carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/img1.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static/img2.webp" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4 col-sm-12 col-lg-4 ">


      <div class="form">
        <form method="post">
          {% csrf_token %}
          <div>  <p id="loginlable">Meet a designer</p>   </div><br>
          <!--username -->
          <div class="input-group mb-3 ">
            <span class="input-group-text" id="username"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg></span>
            <input type="text" class="form-control" placeholder="Username" name="username" aria-label="Username" aria-describedby="basic-addon1"  required>
          </div>

          <!--Email-->
          <div class="input-group mb-3">
            <span class="input-group-text" id="email"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
              <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
            </svg></span>
            <input type="email" class="form-control" placeholder="Email" name="email" aria-label="Username" aria-describedby="basic-addon1"  required>
          </div>

          <!--mobile number -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="number"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg></span>
            <input type="number" class="form-control" placeholder="mobile" name="number" aria-label="Username" aria-describedby="basic-addon1"  required>
          </div><br>

          <!--button for submit-->
          <div class="container text-center">
          <button type="submit" class="btn btn-danger">BOOK A FREE DESIGN SESSION </button>
          <p id="lablebtm">By submitting this form, you agree to the <a> privacy policy</a> and <a>terms of use</a></p>
         </div>
          </form>

        </div>
        </div>
      </div>
    </div>
    </div>
    </div>
        </div>

      </div>
    </div>
  </div>



    <div class="secondframe">

    <div class="container-fluid" id="secondfram">
      <h1>Design Gallery </h1>
      <h5>If you’re on the lookout for simple home interior designs, look no further than HomeLane for end- to-end interior design services.
      </h5>

      <div class="container text-center pt-5">
        <div class="row">
          <div class="col pt-2">
            <img src="static/k1.webp" alt="">
          </div>
          <div class="col pt-2">
            <img src="static/b1.webp" alt="">
          </div>
          <div class="col pt-2  ">
            <img src="static/l1.webp" alt="">
          </div>
        </div>
      </div>

      <div class="container text-center pt-5">
        <div class="row">
          <div class="col pt-2">
            <img src="static/k1.webp" alt="">
          </div>
          <div class="col pt-2">
            <img src="static/b1.webp" alt="">
          </div>
          <div class="col pt-2">
            <img src="static/l1.webp" alt="">
          </div>
        </div>
      </div>

    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
